.news-card__source {
  color: #b6bcbf;
  font-family: 'Roboto Slab';
  font-weight: 700;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

/* @media (max-width: 800px) {
  .news-card__source {
    bottom: 16px;
  }
} */
