<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Сервис для анализа популярности новостей в различных категориях">
  <meta name="author" content="Kamila Begimkulova">
  <title>News Analyzer - About</title>
  <link rel="shortcut icon" type="image/png" href="src/assets/images/favicon.png">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>">
</head>

<body class="page">
  <div class="about-page">
    <!-- header section -->
    <header class="header about-page__header">

      <!-- header nav section -->
      <section class="header__top about-page__header-top">
        <div class="container">
          <div class="nav-section">
            <a href="./index.html" class="link logo">
              NewsAnalyzer
            </a>
            <nav class="nav">
              <ul class="list nav__list">
                <li class="nav__list-item">
                  <a href="./index.html" target="_blank" class="link nav__link">
                    Главная
                  </a>
                </li>
                <li class="nav__list-item">
                  <a href="./about.html" target="_blank" class="link nav__link nav__link_active_common">
                    О проекте
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </section>

      <!-- header for clients section -->
      <section class="benefits-for-clients header__bottom">
        <div class="container">
          <div class="benefits-for-clients__box">
            <h3 class="title benefits-for-clients__title">
              Клиентам
            </h3>
            <p class="subtitle benefits-for-clients__subtitle">
              Этот сайт — дипломный проект студента Яндекс.Практикума. Его цель — показать, чему научился студент,
              какими
              технологиями
              владеет.
            </p>
            <p class="subtitle benefits-for-clients__subtitle">
              Вёрстка сайта выполнена по методологии БЭМ. Это делает сайт гибким и масштабируемым. Кроме того, добавлять
              новые
              страницы и функциональность проще и быстрее, чем в проектах, выполненных по другим методологиям. Также
              сайт
              проще и
              дешевле поддерживать.
            </p>
            <p class="subtitle benefits-for-clients__subtitle">
              Карточки с новостями приходят с сервера и обрабатываются асинхронно. То есть сайт продолжает работать,
              пока
              от сервера
              приходит ответ. Это повышает удобство использования сервиса.
            </p>
            <p class="subtitle benefits-for-clients__subtitle">
              При создании проекта была использована сборка технологией Webpack. Это современный подход к разработке
              сайтов. Код
              оптимизируется, а значит, сайт работает быстрее. Также сайт работает в старых браузерах. Даже если
              посетители —
              пользователи старых операционных систем, у них не будет проблем с отображением. А значит, потенциальная
              аудитория
              возрастает.
            </p>
            <p class="subtitle benefits-for-clients__subtitle">
              Проект был проверен экспертами Яндекс.Практикума. Если вашему бизнесу нужен сайт, мы рекомендуем
              обратиться
              к этому
              студенту.
            </p>
          </div>
        </div>
      </section>


    </header>

    <!-- main section -->
    <main class="main about-page__main" style="display: none;">

      <!-- technologies section -->
      <section class="technologies">
        <div class="container">
          <div class="technologies__box">
            <h4 class="title technologies__title">
              Используемые
              технологии
            </h4>
            <ul class="list technologies__list">
              <li class="technologies__item">
                <h5 class="technologies__item-title">HTML</h5>
                <img src="src/assets/images/html5.png" alt="HTML логотип" class="technologies__item-img">
              </li>
              <li class="technologies__item">
                <h5 class="technologies__item-title">CSS</h5>
                <img src="src/assets/images/css3.png" alt="CSS логотип" class="technologies__item-img">
              </li>
              <li class="technologies__item">
                <h5 class="technologies__item-title">Java Script</h5>
                <img src="src/assets/images/js.png" alt="Java Script логотип" class="technologies__item-img">
              </li>
              <li class="technologies__item">
                <h5 class="technologies__item-title">Webpack</h5>
                <img src="src/assets/images/webpack.png" alt="Webpack логотип" class="technologies__item-img">
              </li>
            </ul>
          </div>
        </div>
      </section>

      <!-- about author -->
      <section class="author">
        <div class="container">
          <div class="author__box">
            <picture class="author__image-container">
              <source srcset="src/assets/images/author-img-mobile.png" media="(max-width: 1024px)" class="author__image">
              <img src="src/assets/images/author-img.png" alt="Изображение автора" class="author__image">
            </picture>
            <div class="author__description">
              <h4 class="title author__title">
                Об авторе
              </h4>
              <p class="subtitle author__subtitle">
                Это блок с описанием автора проекта. Здесь следует указать, как вас зовут, чем вы занимаетесь, какими
                технологиями
                разработки владеете.
              </p>
              <p class="subtitle author__subtitle">
                Также можно рассказать о процессе обучения в Практикуме, чему вы тут научились, и чем можете помочь
                потенциальным
                заказчикам.
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="commits-section">
        <div class="container">

          <!-- github commits data section-->
          <div class="dynamic-data commits-section__header">
            <h3 class="title dynamic-data__title commits-section__title">
              История коммитов из GitHub
            </h3>
            <a href="https://github.com/" target="_blank" class="link dynamic-data__link commits-section__link">
              Открыть в Github
            </a>
          </div>

        </div>

        <!-- github commits slider -->
        <div class="commits-slider swiper-container">
          <ul class="list commits-slider__list swiper-wrapper">

            
              <li class="commits-slider-card commits-slider__list-item swiper-slide">
                <a href="#" target="_blank" class="link commits-slider-card__link">
                  <p class="subtitle commits-slider-card__create-date">14 августа, 2019</p>
                  <div class="commits-slider-card__author">
                    <div class="commits-slider-card__image-box"><img src="src/assets/images/user-avatar-gh-example.png" alt="Аватар пользователя на гитхабе" class="commits-slider-card__img"></div>
                    <div class="commits-slider-card__about-author-box">
                      <p class="subtitle commits-slider-card__author-name">Антон Долинин</p>
                      <p class="subtitle commits-slider-card__author-email">anton@yandex.ru</p>
                    </div>
                  </div>
                  <p class="subtitle commits-slider-card__commit-text">
                    Emmet (formerly Zen Coding) is a web-
                    developer’s toolkit that can greatly improve your HTML & CSS workflow.
                  </p>
                </a>
              </li>

         
              <li class="commits-slider-card commits-slider__list-item swiper-slide">
                <a href="#" target="_blank" class="link commits-slider-card__link">
                  <p class="subtitle commits-slider-card__create-date">14 августа, 2019</p>
                  <div class="commits-slider-card__author">
                    <div class="commits-slider-card__image-box"><img src="src/assets/images/user-avatar-gh-example.png" alt="Аватар пользователя на гитхабе" class="commits-slider-card__img"></div>
                    <div class="commits-slider-card__about-author-box">
                      <p class="subtitle commits-slider-card__author-name">Антон Долинин</p>
                      <p class="subtitle commits-slider-card__author-email">anton@yandex.ru</p>
                    </div>
                  </div>
                  <p class="subtitle commits-slider-card__commit-text">
                    Emmet (formerly Zen Coding) is a web-
                    developer’s toolkit that can greatly improve your HTML & CSS workflow.
                  </p>
                </a>
              </li>

             
              <li class="commits-slider-card commits-slider__list-item swiper-slide">
                <a href="#" target="_blank" class="link commits-slider-card__link">
                  <p class="subtitle commits-slider-card__create-date">14 августа, 2019</p>
                  <div class="commits-slider-card__author">
                    <div class="commits-slider-card__image-box"><img src="src/assets/images/user-avatar-gh-example.png" alt="Аватар пользователя на гитхабе" class="commits-slider-card__img"></div>
                    <div class="commits-slider-card__about-author-box">
                      <p class="subtitle commits-slider-card__author-name">Антон Долинин</p>
                      <p class="subtitle commits-slider-card__author-email">anton@yandex.ru</p>
                    </div>
                  </div>
                  <p class="subtitle commits-slider-card__commit-text">
                    Emmet (formerly Zen Coding) is a web-
                    developer’s toolkit that can greatly improve your HTML & CSS workflow.
                  </p>
                </a>
              </li>

          
              <li class="commits-slider-card commits-slider__list-item swiper-slide">
                <a href="#" target="_blank" class="link commits-slider-card__link">
                  <p class="subtitle commits-slider-card__create-date">14 августа, 2019</p>
                  <div class="commits-slider-card__author">
                    <div class="commits-slider-card__image-box"><img src="src/assets/images/user-avatar-gh-example.png" alt="Аватар пользователя на гитхабе" class="commits-slider-card__img"></div>
                    <div class="commits-slider-card__about-author-box">
                      <p class="subtitle commits-slider-card__author-name">Антон Долинин</p>
                      <p class="subtitle commits-slider-card__author-email">anton@yandex.ru</p>
                    </div>
                  </div>
                  <p class="subtitle commits-slider-card__commit-text">
                    Emmet (formerly Zen Coding) is a web-
                    developer’s toolkit that can greatly improve your HTML & CSS workflow.
                  </p>
                </a>
              </li>
        
            
              <li class="commits-slider-card commits-slider__list-item swiper-slide">
                <a href="#" target="_blank" class="link commits-slider-card__link">
                  <p class="subtitle commits-slider-card__create-date">14 августа, 2019</p>
                  <div class="commits-slider-card__author">
                    <div class="commits-slider-card__image-box"><img src="src/assets/images/user-avatar-gh-example.png" alt="Аватар пользователя на гитхабе" class="commits-slider-card__img"></div>
                    <div class="commits-slider-card__about-author-box">
                      <p class="subtitle commits-slider-card__author-name">Антон Долинин</p>
                      <p class="subtitle commits-slider-card__author-email">anton@yandex.ru</p>
                    </div>
                  </div>
                  <p class="subtitle commits-slider-card__commit-text">
                    Emmet (formerly Zen Coding) is a web-
                    developer’s toolkit that can greatly improve your HTML & CSS workflow.
                  </p>
                </a>
              </li>

           
              <li class="commits-slider-card commits-slider__list-item swiper-slide">
                <a href="#" target="_blank" class="link commits-slider-card__link">
                  <p class="subtitle commits-slider-card__create-date">14 августа, 2019</p>
                  <div class="commits-slider-card__author">
                    <div class="commits-slider-card__image-box"><img src="src/assets/images/user-avatar-gh-example.png" alt="Аватар пользователя на гитхабе" class="commits-slider-card__img"></div>
                    <div class="commits-slider-card__about-author-box">
                      <p class="subtitle commits-slider-card__author-name">Антон Долинин</p>
                      <p class="subtitle commits-slider-card__author-email">anton@yandex.ru</p>
                    </div>
                  </div>
                  <p class="subtitle commits-slider-card__commit-text">
                    Emmet (formerly Zen Coding) is a web-
                    developer’s toolkit that can greatly improve your HTML & CSS workflow.
                  </p>
                </a>
              </li>

            
              <li class="commits-slider-card commits-slider__list-item swiper-slide">
                <a href="#" target="_blank" class="link commits-slider-card__link">
                  <p class="subtitle commits-slider-card__create-date">14 августа, 2019</p>
                  <div class="commits-slider-card__author">
                    <div class="commits-slider-card__image-box"><img src="src/assets/images/user-avatar-gh-example.png" alt="Аватар пользователя на гитхабе" class="commits-slider-card__img"></div>
                    <div class="commits-slider-card__about-author-box">
                      <p class="subtitle commits-slider-card__author-name">Антон Долинин</p>
                      <p class="subtitle commits-slider-card__author-email">anton@yandex.ru</p>
                    </div>
                  </div>
                  <p class="subtitle commits-slider-card__commit-text">
                    Emmet (formerly Zen Coding) is a web-
                    developer’s toolkit that can greatly improve your HTML & CSS workflow.
                  </p>
                </a>
              </li>

              <li class="commits-slider-card commits-slider__list-item swiper-slide">
                <a href="#" target="_blank" class="link commits-slider-card__link">
                  <p class="subtitle commits-slider-card__create-date">14 августа, 2019</p>
                  <div class="commits-slider-card__author">
                    <div class="commits-slider-card__image-box"><img src="src/assets/images/user-avatar-gh-example.png" alt="Аватар пользователя на гитхабе" class="commits-slider-card__img"></div>
                    <div class="commits-slider-card__about-author-box">
                      <p class="title commits-slider-card__author-name">Антон Долинин</p>
                      <p class="subtitle commits-slider-card__author-email">anton@yandex.ru</p>
                    </div>
                  </div>
                  <p class="subtitle commits-slider-card__commit-text">
                    Emmet (formerly Zen Coding) is a web-
                    developer’s toolkit that can greatly improve your HTML & CSS workflow.
                  </p>
                </a>
              </li>
          </ul>

          <div class="commits-slider__pagination">
            <span class="commits-slider__pagination-icon"></span>
            <span class="commits-slider__pagination-icon commits-slider__pagination-icon_active"></span>
            <span class="commits-slider__pagination-icon"></span>
          </div>

          <button class="button commits-slider__btn commits-slider__prev-btn"></button>
          <button class="button commits-slider__btn commits-slider__next-btn"></button>
        </div>

      </section>
    </main>

    <!-- footer section starts -->
    <footer class="footer about-page__footer" style="display: none;">

      <section class="footer-section">
        <div class="container">
          <div class="footer-section__box">

            <!-- copyright -->
            <p class="subtitle footer-section__copyright">
              &copy; 2020 Supersite
            </p>

            <!-- footer navigation -->
            <nav class="nav footer-section__nav">
              <ul class="list nav__list footer-section__nav-list">
                <li class="nav__list-item footer-section__nav-item">
                  <a href="./index.html" target="_blank" class="link nav__link footer-section__nav-link">
                    Главная
                  </a>
                </li>
                <li class="nav__list-item footer-section__nav-item">
                  <a href="./about.html" target="_blank" class="link nav__link footer-section__nav-link">
                    О проекте
                  </a>
                </li>
                <li class="nav__list-item footer-section__nav-item">
                  <a href="https://praktikum.yandex.ru/" target="_blank"
                    class="link nav__link footer-section__nav-link">
                    Яндекс.Практикум
                  </a>
                </li>
              </ul>
            </nav>

            <!-- footer social icons -->
            <ul class="list footer-section__social">
              <li class="footer-section__social-item">
                <a href="https://github.com/camel-bb/" target="_blank" class="link footer-section__social-link">
                  <svg class="footer-section__social-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    fill="none" xmlns:v="https://vecta.io/nano">
                    <path fill-rule="evenodd"
                      d="M12 1.895A10.11 10.11 0 0 0 1.895 12c0 4.467 2.897 8.25 6.91 9.6.502.093.69-.217.69-.5l-.012-1.718C6.67 20 6.076 18.03 6.076 18.03c-.46-1.166-1.123-1.476-1.123-1.476-.918-.626.068-.614.068-.614 1.01.074 1.55 1.042 1.55 1.042.9 1.545 2.363 1.098 2.94.837.093-.65.354-1.098.64-1.352-2.246-.254-4.603-1.123-4.603-4.994 0-1.104.39-2.004 1.042-2.71-.105-.254-.453-1.284.1-2.674 0 0 .85-.273 2.78 1.036.806-.223 1.67-.335 2.53-.34.856.006 1.724.118 2.53.34 1.93-1.31 2.78-1.036 2.78-1.036.552 1.4.205 2.42.1 2.674.645.707 1.036 1.607 1.036 2.71 0 3.883-2.363 4.733-4.615 4.987.36.3.69.93.69 1.874l-.012 2.773c0 .273.18.583.695.484 4.014-1.34 6.904-5.124 6.904-9.584A10.11 10.11 0 0 0 12 1.895z"
                      fill="#000" />
                    </svg>
                </a>
              </li>
              <li class="footer-section__social-item">
                <a href="https://facebook.com/" target="_blank" class="link footer-section__social-link">
                  <svg class="footer-section__social-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    fill="none" xmlns:v="https://vecta.io/nano">
                    <g clip-path="url(#A)">
                      <path
                        d="M20.896 2H3.104C2.494 2 2 2.494 2 3.104v17.793C2 21.506 2.494 22 3.104 22h9.58v-7.745h-2.607v-3.018h2.607V9.01c0-2.583 1.578-4 3.883-4a21.38 21.38 0 0 1 2.329.119v2.7h-1.598c-1.253 0-1.496.596-1.496 1.47v1.928h2.99l-.39 3.018h-2.6V22h5.097c.608 0 1.102-.494 1.102-1.104V3.104C22 2.494 21.506 2 20.896 2h0z"
                        fill="#000" />
                    </g>
                    <defs>
                      <clipPath id="A">
                        <path fill="#fff" transform="translate(2 2)" d="M0 0h20v20H0z" />
                      </clipPath>
                    </defs>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </section>

    </footer>
  </div>

  <script src="<%= htmlWebpackPlugin.files.js %>"></script>
</body>

</html>
