@import '~normalize.css';
@import url(./../../vendor/fonts.css);
@import '~swiper/swiper-bundle.css';

.page {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  background-color: #fff;
  box-sizing: border-box;
  color: #1A1B22;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.title {
  margin: 0;
  font-family: Roboto Slab;
  font-style: normal;
  font-size: 40px;
  font-weight: 400;
}

.subtitle {
  margin: 0;
}

.input {
  border: none;
  background-color: transparent;
}

.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
}

.about-page {
  font-size: 18px;
}

.about-page__header {
  color: #1A1B22;
}

.about-page__header-top {
  box-shadow: inset 0px -1px 0px #D1D2D6;
}

.nav-section {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: 'Roboto Slab';
  font-weight: bold;
  font-size: 20px;
}

.nav {
  color: #b6bcbf;
  font-weight: 500;
}

.nav__list {
  display: flex;
}

.nav__list-item + .nav__list-item {
  margin-left: 36px;
}

.nav__link_active_common {
  color: #1A1B22;
}

.nav__link {
  position: relative;
  display: block;
}

.nav__link_active_common::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: currentColor;
  top: 46px;
  left: 0;
  cursor: default;
}



.benefits-for-clients {
  padding-top: 80px;
  padding-bottom: 94px;
}

.benefits-for-clients__box {
  max-width: 66%;
}

.benefits-for-clients__title {
  margin-bottom: 24px;
}

.benefits-for-clients__subtitle {
  margin-bottom: 20px;
}

.technologies {
  background-color: #F5F6F7;
  padding-top: 80px;
  padding-bottom: 97px;
  color: #1A1B22;
}

.technologies__box {
  display: flex;
  justify-content: space-between;
}

.technologies__title {
  max-width: 344px;
}

.technologies__list {
  display: flex;
  justify-content: space-between;
  padding-top: 13px;
}

.technologies__item {
  text-align: center;
}

.technologies__item + .technologies__item {
  margin-left: 40px;
}

.technologies__item-title {
  margin: 0;
  letter-spacing: 0.2px;
  font-size: 18px;
  font-weight: 400;
}

.author {
  padding: 80px 0;
  color: #1A1B22;
  box-sizing: border-box;
}

.author__box {
  display: flex;
}

.author__image-container {
  max-width: 464px;
  max-height: 464px;
}

.author__image {
  width: 100%;
  height: 100%;
}

.author__description {
  padding-top: 50px;
  margin-left: 56px;
  max-width: 600px;
}

.author__title {
  margin-bottom: 24px;
}

.author__subtitle {
  margin-bottom: 20px;
}

.footer__section-box {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1A1B22;
}

.footer-section__copyright {
  color: #B6BCBF;
  font-size: 16px;
}

.footer-section__nav {
  color: #1A1B22;
}

.footer-section__nav-item + .footer-section__nav-item {
  margin-left: 40px;
}

.footer-section__social {
  display: flex;
}

.footer-section__social-item + .footer-section__social-item {
  margin-left: 28px;
}

.footer-section__social-link:hover .footer-section__social-icon path {
  fill: #2F4F4F;
  transition: .5s ease;
}

.commits-section {
  padding-top: 72px;
  padding-bottom: 136px;
  background-color: #F5F6F7;
}

.dynamic-data-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

.dynamic-data__link {
  font-weight: 500;
  display: block;
  position: relative;
}

.dynamic-data__link::after {
  content: "";
  position: absolute;
  background-image: url('../../assets/images/path-arrow.svg');
  width: 8px;
  height: 14px;
  top: 4px;
  right: -15px;
}

.commits-section__link::after {
  top: 2px;
}

.commits-slider {
  overflow: hidden;
}

.commits-slider__list {
  position: relative;
  left: -314px;
}

.commits-slider__list::before {
  content: "";
  position: absolute;
  background: linear-gradient(180deg, rgba(245, 246, 247, 0) 0%, #F5F6F7 100%);
  transform: matrix(0, -1, -1, 0, 0, 0);
  width: 288px;
  height: 288px;
  top: 0;
  z-index: 1;
  left: 220px;
}

.commits-slider__list::after {
  content: "";
  position: absolute;
  background: linear-gradient(180deg, rgba(245, 246, 247, 0) 0%, #F5F6F7 100%);
  transform: rotate(-90deg);
  width: 288px;
  height: 288px;
  top: 0;
  z-index: 1;
  right: -445px;
}

.commit-slider-card {
  background-color: #fff;
  border-radius: 16px;
  padding: 24px;
  max-width: 400px;
  box-sizing: border-box;
  font-size: 14px;
  height: 288px;
  overflow: hidden;
  margin-right: 16px;
}

.commit-slider-card__link {
  display: block;
  height: 100%;
}

.commit-slider-card__create-date {
  color: #B6BCBF;
  margin-bottom: 16px;
}

.commit-slider-card__author {
  display: flex;
  align-items: center;
  min-height: 64px;
  margin-bottom: 16px;
}

.commit-slider-card__image-box {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-right: 16px;
}

.commit-slider-card__img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.commit-slider-card__author-name {
  font-family: 'Roboto Slab';
  font-weight: normal;
  font-size: 26px;
  margin-bottom: 2px;
}

.commit-slider-card__commit-text {
  font-size: 16px;
  line-height: 22px;
}

.commits-slider__btn {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #1A1B22;
  box-shadow: 0px 3px 10px rgba(14, 26, 57, 0.2);
  color: #fff;
  display: block;
  z-index: 1;
  padding: 0;
}

.commits-slider__prev-btn {
  background-image: url(../../assets/images/slider-prev-arrow.svg);
  background-repeat: no-repeat;
  background-position: 13px center;
  left: 24px;
  top: 124px;
}

.commits-slider__next-btn {
  background-image: url(../../assets/images/slider-next-arrow.svg);
  background-repeat: no-repeat;
  background-position: 15px center;
  right: 24px;
  top: 124px;
}

.commits-slider__pagination {
  width: 40px;
  height: 8px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}

.commit-slider__pagination-icon {
  width: 8px;
  height: 8px;
  background-color: #D1D2D6;
  border-radius: 50%;
}

.commit-slider__pagination-icon_active {
  background-color: #1A1B22;
}