.commits-slider-card__link {
  padding: 24px;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .commits-slider-card__link {
    padding-right: 16px;
  }
}

@media (max-width: 600px) {
  .commits-slider-card__link {
    padding: 16px;
  }
}
