@import url(./__box/search-section__box.css);
@import url(./__title/search-section__title.css);
@import url(./__subtitle/search-section__subtitle.css);
@import url(./__form-row/search-section__form-row.css);
@import url(./__name-input/search-section__name-input.css);
@import url(./__search-btn/search-section__search-btn.css);

.search-section {
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  padding-top: 80px;
  padding-bottom: 80px;
  color: #fff;
}

@media (max-width: 768px) {
  .search-section {
    padding-top: 40px;
    padding-bottom: 48px;
  }
}

@media (max-width: 500px) {
  .search-section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

