.nav__list-item + .nav__list-item {
  margin-left: 28px;
}

@media (max-width: 768px) {
  .nav__list-item + .nav__list-item {
    margin-left: 22px;
  }
}

@media (max-width: 450px) {
  .nav__list-item + .nav__list-item {
    margin-left: 11px;
  }
}
