.search-section__search-btn {
  background-color: #2f71e5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, .2);
  border: 4px solid transparent;
  border-radius: 100px;
  font-weight: 500;
  color: #fff;
  width: 168px;
  height: 64px;
  padding: 15px;
  position: absolute;
  right: -1px;
  top: 0;
}

.search-section__search-btn.disabled {
  background-color: #5c5756;
}

.search-section__search-btn:hover {
  background-color: #347eff;
}

.search-section__search-btn:active {
  background-color: #2a65cc;
}

.search-section__search-btn:focus {
  outline: none;
  border: 4px solid rgba(255, 255, 0, .6);
}

@media (max-width: 768px) {
  .search-section__search-btn {
    width: 160px;
    height: 56px;
    right: -24px;
  }
}

@media (max-width: 665px) {
  .search-section__search-btn {
    width: 120px;
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .search-section__search-btn {
    width: 120px;
    font-size: 14px;
    height: 40px;
    padding: 10px;
    line-height: 0px;
  }
}

@media (max-width: 450px) {
  .search-section__search-btn {
    width: 100%;
    font-size: 18px;
    height: 56px;
    padding: 15px;
    position: static;
  }
}
