.nav__link_active_main {
  color: #fff;
}

.nav__link_active_main::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: currentColor;
  top: 46px;
  left: 0;
  cursor: default;
}

@media (max-width: 768px) {
  .nav__link_active_main::after {
    top: 38px;
  }
}

@media (max-width: 450px) {
  .nav__link_active_main::after {
    top: 33px;
  }
}
