.container {
  max-width: 1260px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
    margin: 0;
  }
}

@media (max-width: 450px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
  }
}