.footer-section__nav-item {
  font-size: 18px;
}

.footer-section__nav-item + .footer-section__nav-item {
  margin-left: 50px;
}

@media (max-width: 768px) {
  .footer-section__nav-item + .footer-section__nav-item {
    margin-left: 25px;
  }
}

@media (max-width: 650px) {
  .footer-section__nav-item + .footer-section__nav-item {
    margin-left: 0;
    margin-top: 30px;
  }
}
