@import url(./__list/nav__list.css);
@import url(./__list-item/nav__list-item.css);
@import url(./__link/nav__link.css);

.nav {
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  color: #b6bcbf;
}

@media (max-width: 450px) {
  .nav {
    font-size: 16px;
  }
}