.keyword-analytics__text {
  text-transform: uppercase;
  letter-spacing: 0.4px;
  margin: 0;
}

.keyword-analytics__text:first-child {
  width: 56px;
}

.keyword-analytics__text + .keyword-analytics__text {
  margin-left: 48px;
}

@media (max-width: 450px) {
  .keyword-analytics__text + .keyword-analytics__text {
    margin-left: 26px;
  }
}
