.news-list {
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  box-sizing: border-box;
  color: #1a1b22;
  display: grid;
  grid-template-columns: minmax(30%, 33%) minmax(30%, 33%) minmax(30%, 33%);
  gap: 16px;
}

.news-card:hover {
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,.75);
}

@media (max-width: 800px) {
  .news-list {
    gap: 8px;
  }
}

@media (max-width: 700px) {
  .news-list {
    grid-template-columns: minmax(45%, 50%) minmax(45%, 50%);
  }
}

@media (max-width: 500px) {
  .news-list {
    grid-template-columns: minmax(90%, 100%)
  }
}
