@import url(./__box/failed-search__box.css);
@import url(./__img/failed-search__img.css);
@import url(./__title/failed-search__title.css);
@import url(./__subtitle/failed-search__subtitle.css);

.failed-search {
  display: none;
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  box-sizing: border-box;
  color: #1a1b22;
  background-color: #f5f6f7;
  padding-top: 86px;
  padding-bottom: 80px;
}

@media (max-width: 1024px) {
  .failed-search {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
