@import url(./__date-list/analytics-chart__date-list.css);
@import url(./__date-item/analytics-chart__date-item.css);
@import url(./__progress-item/analytics-chart__progress-item.css);
@import url(./__progress-percent-num/analytics-chart__progress-percent-num.css);
@import url(./__svg/analytics-chart__svg.css);
@import url(./__rect/analytics-chart__rect.css);

.analytics-chart {
  display: flex;
  padding-top: 16px;
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  box-sizing: border-box;
  color: #1A1B22;
}