.technologies__box {
  display: flex;
}

@media (max-width: 1170px) {
  .technologies__box {
    justify-content: space-between;
  }
}

@media (max-width: 1024px) {
  .technologies__box {
    flex-direction: column;
  }
}
