.benefits-for-clients__subtitle {
  margin-bottom: 20px;
  line-height: 24px;
}

.benefits-for-clients__subtitle:last-child {
  margin-bottom: 0;
}

@media (max-width: 450px) {
  .benefits-for-clients__subtitle {
    margin-bottom: 14px;
  }
}