@import url(./_active/breadcrumbs__item_active.css);

.breadcrumbs__item {
  display: inline-block;
  position: relative;
}

.breadcrumbs__item + .breadcrumbs__item {
  margin-left: 10px;
}

.breadcrumbs__item + .breadcrumbs__item::before {
  content: '/';
  color: #b6bcbf;
  position: absolute;
  top: 0;
  left: -10px;
}