.author__title {
  margin-bottom: 27px;
}

@media (max-width: 768px) {
  .author__title {
    font-size: 30px;
    margin-bottom: 16px;
  }
}

@media (max-width: 600px) {
  .author__title {
    font-size: 30px;
    margin-bottom: 18px;
  }
}
